html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Blocca scroll */
}

* {
  box-sizing: border-box; /* Previene larghezze errate */
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Assicurati che non scrolli */
}

.primary-color {
  color: #004aad !important;
}

.primary-bg {
  background-color: #004aad !important;
}

.secondary-color {
  color: #38b6ff !important;
}

.secondary-bg {
  background-color: #38b6ff !important;
}

.detail-color {
  color: #5271ff !important;
}

.detail-bg {
  background-color: #5271ff !important;
}
