html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Blocca scroll */
}

* {
  box-sizing: border-box; /* Previene larghezze errate */
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Assicurati che non scrolli */
  display: flex;
  flex-direction: column;
}
